{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Смена пароля
{% endblock %}

{% block content %}
    <div class="password-change-container">
        <h1 class="password-change-title">Смена пароля</h1>
        <form method="post" class="password-change-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="password-change-buttons">
                <button type="submit" class="btn btn-login">Изменить пароль</button>
                <a href="{% url 'task:home' %}" class="btn btn-cancel">Отмена</a>
            </div>
        </form>
    </div>
{% endblock %}