{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
    <div class="login-container">
        <h1 class="login-title">Сброс пароля</h1>
        <form method="post" class="login-form">
            {% csrf_token %}
            <div class="form-field">
                <label for="{{ form.email.id_for_label }}">Электронная почта</label>
                {{ form.email }}
            </div>
            <div class="form-buttons">
                <button type="submit" class="btn btn-login">Отправить</button>
                <a href="{% url 'account:login' %}" class="btn btn-cancel">Отмена</a>
            </div>
        </form>
    </div>
{% endblock %}