{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Смена пароля
{% endblock %}

{% block content %}
    <div class="password-change-container">
        <h1 class="password-change-title">Смена пароля</h1>
        <form method="post" class="password-change-form">
            {% csrf_token %}
            <div class="form-field">
                <label for="{{ form.old_password.id_for_label }}">Текущий пароль</label>
                {{ form.old_password }}
            </div>
            <div class="form-field">
                <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                {{ form.new_password1 }}
                {{ form.new_password1.help_text }}
            </div>
            <div class="form-field">
                <label for="{{ form.new_password2.id_for_label }}">Повторите новый пароль</label>
                {{ form.new_password2 }}
            </div>
            <div class="password-change-buttons">
                <button type="submit" class="btn btn-login">Изменить пароль</button>
                <a href="{% url 'task:home' %}" class="btn btn-cancel">Отмена</a>
            </div>
        </form>
    </div>
{% endblock %}