{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
    <div class="login-container">
        <h1 class="login-title">Нового пароля</h1>
        {% if validlink %}
            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="form-field">
                    <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.help_text }}
                </div>
                <div class="form-field">
                    <label for="{{ form.new_password2.id_for_label }}">Новый пароль</label>
                    {{ form.new_password2 }}
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-login">Изменить пароль</button>
                </div>
            </form>
        {% else %}
            <div class="password-change-error">
                Ссылка для сброса пароля недействительна, возможно, она уже была использована.<br>
                Пожалуйста, запросите новый <a href="{% url 'account:password_reset' %}" class="forgot-password">сброс
                пароля</a>.
            </div>
        {% endif %}
    </div>
{% endblock %}