{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
    <div class="login-container">
        <h1 class="login-title">Письмо отправлено</h1>
        <div class="password-change-success" style="text-align: left;">
            <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты.</p>
            <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели свой адрес электронной почты, и проверьте
                папку со спамом.</p>
        </div>
        <div class="form-buttons" style="justify-content: center; margin-top: 2rem;">
            <a href="{% url 'account:login' %}" class="btn btn-login">Вернуться к входу</a>
        </div>
    </div>
{% endblock %}