{% extends 'base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
    <div class="login-container">
        <h1 class="login-title">Нового пароля</h1>
        {% if validlink %}
            <form method="post" class="login-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="form-buttons">
                    <button type="submit" class="btn btn-login">Изменить пароль</button>
                </div>
            </form>
        {% else %}
            <div class="password-change-error">
                Ссылка для сброса пароля недействительна, возможно, она уже была использована.<br>
                Пожалуйста, запросите новый <a href="{% url 'account:password_reset' %}" class="forgot-password">сброс
                пароля</a>.
            </div>
        {% endif %}
    </div>
{% endblock %}