{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Профиль пользователя
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h2 class="profile-title">Профиль "{{ user.username }}"</h2>
        <div class="profile-details">
            <p><strong>Электронная почта:</strong> {{ user.email }}</p>
            <p><strong>Имя:</strong> {% if user.first_name %}{{ user.first_name }}{% else %}---{% endif %} </p>
            <p><strong>Фамилия:</strong> {% if user.last_name %}{{ user.last_name }}{% else %}---{% endif %}</p>
            <p><strong>Дата регистрации:</strong> {{ user.date_joined|date:"d.m.Y" }}</p>
        </div>
        <div class="profile-buttons profile-buttons-vertical-left">
            <a href="{% url 'account:profile_edit' %}" class="btn btn-login">Редактировать профиль</a>
            <a href="{% url 'account:password_change' %}" class="btn btn-login">Изменить пароль</a>
            <button type="button" class="btn btn-cancel" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                Удалить профиль
            </button>
        </div>
    </div>

    <!-- Модальное окно для удаления -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Подтверждение удаления</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить свой профиль? Это действие необратимо.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <form id="deleteProfileForm" method="post" action="{% url 'account:profile_delete' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}