{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <div class="login-container">
        <h1 class="login-title">Регистрация</h1>
        <form method="post" class="login-form">
            {% csrf_token %}
            {% for field in user_form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="form-buttins">
                <button type="submit" class="btn btn-login">Зарегистрироваться</button>
                <a href="{% url 'task:home' %}" class="btn btn-cancel">Назад</a>
            </div>
        </form>
        <div class="register-link">Уже есть аккаунт? <a href="{% url 'account:login' %}">Войти</a>.</div>
    </div>
{% endblock %}